name: Build deb packages

on:
  push:
  workflow_dispatch:

jobs:
  build-deb:
    name: build-deb @ ${{ matrix.container }} ${{ contains(matrix.runner, 'arm') && 'arm64' || 'amd64' }}
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        runner:
          - ubuntu-24.04
          - ubuntu-24.04-arm
        container:
          - ubuntu:22.04
          - ubuntu:24.04
          - debian:bookworm

    container:
      image: ${{ matrix.container }}
      options: --user root

    steps:
      - name: install dependencies
        run: |
          apt-get update
          apt-get install -y build-essential devscripts git debhelper pkg-config systemd

      - name: mark repository as safe
        run: git config --global --add safe.directory $GITHUB_WORKSPACE

      - name: checkout sources
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: show environment
        run: |
          set -x
          make show-env
          make export-env >> $GITHUB_ENV

      - name: build deb packages
        run: make build-deb

      - name: upload deb packages
        uses: actions/upload-artifact@v4
        with:
          name: amneziawg-tools-debs-${{ env.DISTRO }}-${{ env.DEB_BUILD_ARCH }}
          path: |
            ./dist/*.deb
            ./dist/*.ddeb
