name: Build rpm packages

on:
  push:
  workflow_dispatch:

jobs:
  build-rpm:
    name: build-rpm @ ${{ matrix.container }} ${{ contains(matrix.runner, 'arm') && 'arm64' || 'amd64' }}
    runs-on: ${{ matrix.runner }}
    strategy:
      fail-fast: false
      matrix:
        runner:
          - ubuntu-24.04
          - ubuntu-24.04-arm
        container:
          - rockylinux:8
          - rockylinux:9

    container:
      image: ${{ matrix.container }}
      options: --user root

    steps:
      - name: install dependencies
        run: |
          dnf install -y make git gcc rpm-build systemd

      - name: mark repository as safe
        run: git config --global --add safe.directory $GITHUB_WORKSPACE

      - name: checkout sources
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: show environment
        run: |
          set -x
          make show-env
          make export-env >> $GITHUB_ENV

      - name: build rpm packages
        run: make build-rpm

      - name: upload rpm packages
        uses: actions/upload-artifact@v4
        with:
          name: amneziawg-tools-rpms-${{ env.DISTRO }}-${{ env.DEB_BUILD_ARCH }}
          path: |
            ./dist/rpmbuild/RPMS/*/*.rpm
